<header>
	<div class="jsc_header header">
		<div class="header__inner">
			<h1 class="header__inner__title">April <span>K</span>nights</h1>
			<nav>
				<ul class="header__inner__nav">
					<li class="header__inner__nav__item"><span><a href="#">Service<br><i class="material-icons">sentiment_satisfied</i></a></span></li>
					<li class="header__inner__nav__item"><a href="#">News<br><i class="material-icons">event</i></a></li>
					<li class="header__inner__nav__item"><a href="#">Pertner<br><i class="material-icons">accessibility</i></a></li>
					<li class="header__inner__nav__item"><a href="#">Company<br><i class="material-icons">business</i></a></li>
					<li class="header__inner__nav__item"><a href="#">E-Sports<br><i class="material-icons">lightbulb_outline</i></a></li>
					<li class="header__inner__nav__item"><a href="#">Recruit<br><i class="material-icons">business_center</i></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>