<!doctype html>
<html>
	<head>
		<title>April-Knights ログイン</title>
		<meta name="description" content="エンジニアリング事業/e-Sportsを中心にWeb業界にイノベーションを起こし続ける株式会社エイプリルナイツのホームページです。" />
		<meta name="keywords" content="AprilKnights,エイプリルナイツ,SES,パートナー,e-Sports,e-Sports採用,e-Sports求人,エンジニア派遣" />
		<meta charset="utf-8" />
		<link rel="icon" href="/images/favicon.ico" />
		<link rel='stylesheet' href='/stylesheets/reset.css' />
		<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald' type='text/css'>
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel='stylesheet' href='/stylesheets/flexslider.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>admin login</h1>
		<p>Enter your id and pw</p>
		<form action="/admin/login/">
			<input type="text" name="id">
			<input type="password" name="pw">
		</form>
		<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="/javascripts/jquery.flexslider.js"></script>
		<script src="/javascripts/common.js"></script>
	</body>
</html>