<!doctype html>
<html>
  <head>
    <title>April-Knights</title>
    <meta name="description" content="エンジニアリング事業/e-Sportsを中心にWeb業界にイノベーションを起こし続ける株式会社エイプリルナイツのホームページです。" />
    <meta name="keywords" content="AprilKnights,エイプリルナイツ,SES,パートナー,e-Sports,e-Sports採用,e-Sports求人,エンジニア派遣" />
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald' type='text/css'>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/flexslider.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="jsc_loader loader">
      <div class="loader__inner">
        <p class="jsc_loadingContent loading__inner__content">April Knights</p>
      </div>
    </div>
    <% include ./components/_header.ejs %>
    <div class="container">
      <div class="slider flexslider">
        <ul class="slider__items slides">
          <li><img src="http://dummyimage.com/800x400/666666/fff"></li>
          <li><img src="http://dummyimage.com/800x400/999999/fff"></li>
          <li><img src="http://dummyimage.com/800x400/cccccc/fff"></li>
        </ul>
      </div>
    </div>
    <% include ./components/_footer.ejs %>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/javascripts/jquery.flexslider.js"></script>
    <script src="/javascripts/common.js"></script>
  </body>
</html>