<!doctype html>
<html>
	<head>
		<title>April-Knights</title>
		<meta name="description" content="エンジニアリング事業/e-Sportsを中心にWeb業界にイノベーションを起こし続ける株式会社エイプリルナイツのホームページです。" />
		<meta name="keywords" content="AprilKnights,エイプリルナイツ,SES,パートナー,e-Sports,e-Sports採用,e-Sports求人,エンジニア派遣" />
		<meta charset="utf-8" />
		<link rel="icon" href="/images/favicon.ico" />
		<link rel='stylesheet' href='/stylesheets/reset.css' />
		<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald' type='text/css'>
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel='stylesheet' href='/stylesheets/flexslider.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<p>
		  service
		</p>
	</body>
</html>
